@import './highlights.css';
@import './videos.css';
@import './video.css';
@import './instagram.css';
@import './ny-tips.css';
@import './shop.css';
@import './recipes.css';
@import './contact.css';
@import './about.css';

.wrapper.content.inactive:before {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.page.video .wrapper.content.inactive:before {
  background-color: rgba(110, 47, 68, 0.95);
}

.page.contact .wrapper.content.inactive:before,
.page.search .wrapper.content.inactive:before {
  background-color: rgba(118, 77, 48, 0.95);
}
