.section.ny-tips {
  padding: 0 5.156vw 10vw 4.687vw;
}

.section.ny-tips:before,
.section.ny-tips:after {
  content: '';
  display: block;
}

.section.ny-tips:before {
  background: center top url(../image/ny-tips-background.jpg) no-repeat;
  background-size: cover;
  height: 41.510vw;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section.ny-tips:after {
  clear: both;
}


