.section.search {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 84.531vw;
  z-index: 5;
}

.section.search .form.search .fieldset {
  padding-top: 20vw;
}

.section.search .form.search .fieldset > .title {
  color: #fff;
  font-family: 'Open Sans';
  display: block;
  font-size: 2.25vw;
  line-height: 1;
  padding-bottom: 2vw;
  position: absolute;
  text-align: center;
  top: 13vw;
  width: 100%;
}

.section.search .form.search .fieldset > .title:after {
  background-color: #fde48f;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.section.search .form.search .fieldset > .title .fragment {
  font-style: normal;
}

.section.search .form.search .fieldset > .title .fragment:first-child:after {
  content: ':';
  display: inline-block;
}

.section.search .form.search .fieldset > .title .key {
  color: #fde48f;
  font-family: 'peace-sans';
  text-transform: uppercase;
}


.section.search .form.search .field,
.section.search .form.search .control {
  position: absolute;
  top: 5.937vw;
}

.section.search .form.search .field {
  background-color: #cda;
  left: 0;
  width: 85%;
}

.section.search .form.search .field .title {
  display: none;
}

.section.search .form.search .control {
  background-color: #adc;
  right: 0;
  width: 15%;
}

.section.search .form.search .input {
  color: #764d30;
  border: none;
  display: block;
  font-size: 1.75vw;
  height: 4vw;
  line-height: 1;
  outline: 0;
}

.section.search .form.search .field .input {
  background-color: #fff;
  display: block;
  font-family: 'Open Sans';
  padding: 0 3.3vw;
  width: calc(100% - 6.6vw);
}

.section.search .form.search .control .input {
  background-color: #fde48f;
  cursor: pointer;
  font-family: 'peace-sans';
  text-transform: uppercase;
  width: 100%;
}

.section.search .article > .title {
  display: none;
}

.section.search .categories {
  padding-bottom: 2vw;
  position: relative;
  text-align: center;
}

.section.search .categories:after {
  background-color: #fde48f;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.section.search .categories .definition,
.section.search .categories .definition .title,
.section.search .categories .description {
  display: inline-block;
}

.section.search .categories .definition {
  margin-left: 1vw;
  position: relative;
}

.section.search .categories .definition:nth-of-type(1) {
  margin-left: 0;
}

.section.search .categories .active .anchor,
.section.search .categories .active .fragment {
  color: #fde48f;
}

.section.search .categories .anchor {
  color: #fff;
  font-family: 'peace-sans';
  font-size: 1.5vw;
  text-decoration: none;
  text-transform: uppercase;
}

.section.search .categories .anchor:after {
  background-color: #fff;
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  right: 0;
  width: 0;
  transition: width ease-in 0.2s;
}

.section.search .categories .active .anchor:after {
  background-color: #fde48f;
}

.section.search .categories .anchor:hover:after,
.section.search .categories .anchor:focus:after {
  width: 100%;
}

.section.search .categories .fragment {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 1.5vw;
}

.section.search .categories .fragment:not(.counter) {
  display: none;
}

.section.search .categories .counter:before,
.section.search .categories .counter:after {
  display: inline-block;
}

.section.search .categories .counter:before {
  content: '(';
}

.section.search .categories .counter:after {
  content: ')';
}

.section.search .results {
  margin-top: 4.062vw;
  text-align: center;
}

.section.search .results .definition {
  background-repeat: no-repeat;
  background-size: auto 11.354vw;
  display: inline-block;
  margin-bottom: 5.312vw;
  padding-top: 13.354vw;
  position: relative;
  vertical-align: top;
  width: 16.770vw;
}

.section.search .results .definition:not(:nth-of-type(4n)) {
  margin-right: 5.341vw;
}

.section.search .results .definition .title {
  color: #fff;
  font-family: 'Open Sans';
}

.section.search .results .definition .title:before {
  content: attr(title);
  display: inline-block;
}

.section.search .results .definition .description .anchor {
  color: #fff;
  font-family: 'peace-sans';
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.section.search .results .definition .description .anchor:after {
  content: '';
  display: block;
  height: 11.354vw;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.section.search .cancel {
  position: absolute;
  top: 2vw;
  right: -4vw;
}

.section.search .cancel .anchor {
  border: solid 0.3vw #ff7275;
  border-radius: 50%;
  display: block;
  font-size: 0;
  height: 2vw;
  overflow: hidden;
  transition: border-color ease-out 0.2s;
  width: 2vw;
}

.section.search .cancel .anchor:hover,
.section.search .cancel .anchor:focus {
  border-color: #fff;
}

.section.search .cancel .anchor:after {
  color: #ff7275;
  content: '\e914';
  display: block;
  font-family: 'dulce-delight';
  font-size: 1vw;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: color ease-out 0.2s;
}

.section.search .cancel .anchor:hover:after,
.section.search .cancel .anchor:focus:after {
  color: #fff;
}
